/** {
    margin: auto;
}*/
#foto_guilherme {
    width: 200px;
    margin: 20px;
    padding: 5px;
    background-color:rgb(242, 229, 215);
    border-radius: 50%
}
body {
    background: rgb(99, 55, 44);
}
p {
    text-align: justify;
    text-indent: 15px;
}
h1, h3 {
    color: rgb (138, 35, 34);
}
.list-style :hover {
    text-decoration: underline;
    color: rgb(201, 125, 96);
    background-color: rgb(238, 238, 255);

}
#nome {
    text-align: center;
    top: 80px;
}
#sobre {
    text-align: center;
    position: absolute;
    top: 170px;
    left: 300px;
}
#titulo-sobre {
    position: absolute;
    top: 138px;
    left: 300px;
    
}
ul li:nth-of-type(2n+1){
    color: rgb(201, 125, 96);
}

